@font-face {
    font-family: 'Norwester';
    src: url('/magic-8-ball/norwester.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Norwester';
    color: #3A4EFB;
}

.display {
    font-size: 3em;
}

.ask {
    margin-top: 4em;
    padding: 1em;
    font-family: inherit;
    background: rgb(225, 225, 225);
    color: #000;
}